{{page-title "Cart"}}

<h1>Shopping Cart</h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo @route="index">Home</LinkTo></li>
    <li class="breadcrumb-item active">Shopping Cart</li>
  </ol>
</nav>

{{#each this.cart.itemList as |item|}}
  <div class="cart-item d-flex align-items-center">
    <div class="cart-item-thumbnail">
      <img src={{item.image}} alt="" />
    </div>
    <div class="ms-3">
      <h4>{{item.name}}</h4>
      <i class="font-weight-bold">{{currency item.price}}</i>
    </div>
    <input
      type="number"
      class="ms-auto"
      value={{item.count}}
      {{on "input" (fn this.updateItemCount item)}}
    />
  </div>
{{/each}}

<section class="w-50 text-end ms-auto mb-5">
  <div class="row">
    <span class="col">Subtotal</span>
    <span class="col">{{currency this.subtotal}}</span>
  </div>
  <div class="row">
    <span class="col">Tax</span>
    <span class="col">{{currency this.tax}}</span>
  </div>
  <div class="row">
    <span class="col">Total</span>
    <span class="col">{{currency this.total}}</span>
  </div>
</section>

<button type="button" class="btn btn-success float-end">
  Check out
</button>

{{outlet}}